<div class="add-form-container">
  <div class="ui icon message" *ngIf="newContact">
    <i class="notched check green icon"></i>
    <i class="close icon" (click)="newContact = null"></i>
    <div class="content">
      <div class="header">
        New contact added!
      </div>
      <p>Name: {{newContact.name}}</p>
    </div>
  </div>
  <form class="ui big form" #loginForm="ngForm" (submit)="onSubmit(loginForm)" [class.loading]="loading">
    <div class="fields">
      <div class="eight wide field">
        <label>Username</label>
        <input type="text" placeholder="username" name="username" ngModel>
      </div>
      <div class="eight wide field">
        <label>Password</label>
        <input type="text" placeholder="password" name="password" ngModel>
      </div>
      </div>
  
    <button type="submit" class="ui submit large grey button right floated">Submit</button>
  </form>
</div>
